.sticky {
	display: block;
}


.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
	> * {
		max-width: 1366px;
		padding: 0 15px;
		margin: 0 auto;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header {
	font-family: "poppins", sans-serif;
	color: $lightgreen2;
	text-transform: uppercase;
	font-size: 1.625rem;
	padding-left: 15px;
	h1 {
		font-size: 1.625rem;
		color: $green;
	}
}

.container {
	max-width: 1366px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.post-excerpt {
	font-size: 1.5rem;
	font-family: $font__acumin;
	margin-bottom: .5em;
}

figcaption {
	font-size: .93rem;
	font-family: $font__acumin;
}

.category-wrap {
	ul {
		padding: 0;
		margin-left: 0;
	}
	li {
		display: inline-block;
		list-style: none;
	}
	a {
		display: block;
		padding: 4px 9px 2px;
		font-size: .75rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
		background: $green;
		line-height: 20px;
		font-family: "poppins", sans-serif;
		text-decoration: none;
		&:visited {
			color: #fff;
		}
	}
}

.entry-meta {
	.addtoany_shortcode {
		margin-top: 20px;
	}

}
.addtoany_list {
	margin-top: 20px;
	a {
		> span {
			background-color: gray !important;
			border-radius: 50% !important;
		}
	}
}

@media (max-width: 781px) {
	.ag-site-sidebar-layout.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:only-child) {
			flex-basis: 100% !important;
	}
}
@media (min-width: 782px) {
	.ag-site-sidebar-layout {
		.wp-block-column {
			&:first-child {
				flex-basis: auto;
			}
			&:last-child {
				flex-basis: 330px !important;
				flex-shrink: 0 !important;
				position: sticky;
			}
		}
	}
	.sidebar-padding {
		padding-right: 350px;
	}
}
