/* Grid
https://github.com/michowski/flexible-gs
--------------------------------------------- */
@import "elements/flexible-gs";
@include flexible-create( 12, 15px );
// negative outer margins to make it bootstrapy
.row {
    margin-left: -15px;
    margin-right: -15px;
}

/* Typography
--------------------------------------------- */
@import "typography/typography";

/* Elements
--------------------------------------------- */
@import "elements/body";
@import "elements/site-header";
@import "elements/search";
@import "elements/footer";
@import "elements/hr";
@import "elements/lists";
@import "elements/media";
@import "elements/tables";
@import "elements/blocks";

/* Links
--------------------------------------------- */
@import "elements/links";

/* Forms
--------------------------------------------- */
@import "elements/buttons";
@import "elements/fields";
