.ag-featured-post-sidebar {
    margin-bottom: 100px;
    .faps-featured, .faps-sideblock {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 50px;
        // position: relative;
       
    }
    .faps-featured {
        height: 0;
        padding-top: 60%;
    }
    .faps-sideblock {
        padding-top: 61%;
        width: 100%;
        margin-bottom: 30px;
        display: block;

        &:last-child {
            margin-bottom: 0;
        }
        .faps-title {
            font-size: 1rem;
        }
    }
    .faps-title {
        // position: absolute;
        // left: 0;
        // right: 0;
        // bottom: 0;
        width: 100%;
        padding: 16px;
        background-color: rgba(256, 256, 256, 0.8);
       text-align: left;
    }
}
.read-the-magazine {
    // margin-bottom: 100px;
    &__text {
        padding: 30px 0;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        font-weight: 400;
        color: $gray2;

        // h4 {
        //     margin-top: 0;
        //     text-transform: uppercase;
        //     font-size: 1.5rem;
        //     font-family: "acumin-pro";
        //     font-weight: 700;
        // }
    }
    &__title {
        margin-top: 0;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
    }
    &__button {
        text-transform: uppercase;
        padding: 10px 15px;
        border: 1px solid $black;
        display: inline-block;
        text-decoration: none;
    }
    
}
.social-cube {
    background-color: #e8f4d8;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    .section-heading {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 1.5rem;
    }
    ul {
        margin: 0;
        padding-left: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid white;
    }
    li {
        list-style: none;
        display: inline-block;
        margin-right: 25px;
        position: relative;
        height: 35px;
        width: 35px;
        background-color: white;
        border-radius: 50%;
        &:last-child {
            margin-right: 0;
        }
        a {
            font-size: 20px;
            position: absolute;
            // color: white;
            top: 4px;
            left: 8px;
            // background-color: green;
            // padding: 30px;
            &:visited, &:focus, &:active, &:hover {
                // color: white;
            }
        }
    }
}
.home {
    .social-cube {
        height: 300px;
    }
}
.center-child-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.custom-article-list {
    .section-heading {
        font-weight: 400;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-top: 5px;
        margin-bottom: 40px;
    }
    &.mag {
        img {
            width: 100%;
        }
    }
    h3 {
        font-size: .875rem;
        margin-top: 0;
    }
}
.video-section {
    margin-bottom: 50px;
    &__sidebar-item {
        display: flex;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 1.25rem;
    }
    &__sb-img-container {
        height: 115px;
        flex-basis: 40%;
        flex-shrink: 0;
        margin-right: 15px;
        overflow-y: hidden;
        position: relative;
        a {
            width: 100%;
            max-height: 100%;
            position: relative;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        };
        .play-btn {
            position: absolute;
            z-index: 5;
            right: 15px;
            bottom: 15px;
            padding: 15px;
            border-radius: 50%;
            background-color: white;
            i {
                font-size: 17px;
                position: absolute;
                left: 10px;
                top: 7px;
            }
        }

    }
    &__text-container {
        flex-basis: 60%;
        flex-shrink: 0;
        .cat-text {
            margin-top: 0;
        }
        h4 {
            margin-top: 0;
            margin-bottom: 1px;
            font-weight: 400;
        }
    }
    &__img-container {
        position: relative;
        a {
            width: 100%;
            max-height: 100%;
            position: relative;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .play-btn {
            position: absolute;
            z-index: 5;
            right: 15px;
            bottom: 15px;
            padding: 25px;
            border-radius: 50%;
            background-color: white;
            i {
                font-size: 27px;
                position: absolute;
                left: 17px;
                top: 11px;
            }
        }
    }
    h3 {
        margin-top: 0;
        font-weight: 400;
    }
    button {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 30px;
        cursor: default;
    }
}
.cat-text {
    margin-bottom: 0;
    margin-top: 10px;
}
.two-thirds-container {
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 66%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.ilfb-article-list {
    text-align: center;
    .col-12 {
        margin-bottom: 50px;
    }
    &__title {
        font-size: 1.2rem;
        margin-top: 0;
        font-weight: 400;
    }
    &.two {
        .col-12 {
            display: flex;
            flex-direction: row;
        }
        div[class$="__text"] {
            text-align: left;
            padding-left: 15px;
            flex-basis: 50%;
            flex-shrink: 1;
        }
        div[class$="__image"] {
            flex-basis: 50%;
            flex-shrink: 1;
            > a {
                display: block;
                width: 100%;
                height: 157px;

            }
            img {
                object-fit: cover;
                max-height: 100%;
            }
        }
    }
    &.three {
        div[class$="__image"] {
            > a {
                display: block;
                width: 100%;
                height: 200px;
            }
            img {
                object-fit: cover;
                max-height: 100%;
            }
        }
    }
    button {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 30px;
        cursor: default;
    }
}
.ilfb-afps {
    margin-bottom: 50px;
    text-align: center;
    .l-col-9 {
        img {
            max-width: none;
            width: 100%;
        }
    }
    &__featured-title {
        font-size: 2rem;
        line-height: 1;
        margin: 20px 0;
    }
    &__excerpt {
        font-size: 1.25rem;
        margin-top: 0;
    }
    &__img-container {
        width: 100%;
        height: 225px;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .cat-text {
        margin-bottom: -20px;
    } 

}
.recipe-block {
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    padding: 0 0 30px;
    margin: 30px 0 30px 30px;
    width: 100%;
    .page-header {
        text-align: center;
    }
    .recipe-block-title {
        text-align: center;
        font-family: $font__lora;
        font-size: 1.8125rem;
        line-height: 1.3;
    }
    button {
        text-transform: uppercase;
        font-size: 1.25rem;
    }
}
.article-callout {
    margin: 50px 0;
    &__img-container {
        // width: 100%;
        // height: 100%;
    }
    img {
        width: 100% !important;
        height: 100% !important;
        max-width: none;
        object-fit: cover;
    }
    &__text {
        padding: 30px;
        background-color: $lightgreen;
    }
    &__category {
        font-size: 1.75rem;
        text-transform: uppercase;
        font-weight: bold;
        a {
            text-decoration: none;
            color: $green;
        }
    }
    &__title {
        font-size: 2.125rem;
        a {
            text-decoration: none;
            color: $gray2 !important;
        }
    }
}
.afbs {
    ul {
        padding-left: 0;
    }
    li {
        list-style: none;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 1.3;
        margin-top: 0;
    }
}
.callout-box {
    padding: 20px;
    border: 40px solid $lightgreen;
}
.podcast-player {
    display: block;
    border: 1px solid #acacac;
    margin-bottom: 80px;
    &__title {
        font-size: 3.8vw;
        line-height: 1;
        text-transform: lowercase;
        margin-bottom: 10px;
        flex-basis: 65%;
        margin-top: 0;
        span {
            font-family: Roboto, Arial, sans-serif !important;
            font-size: 7vw;
            text-transform: uppercase;
        }
    }
    &__icon-list {
        flex-basis: 35%;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-bottom: 0;
        margin-left: 2%;
        li {
            width: 30%;
            list-style-type: none;
            margin-left: 2%;
        }
    }
    &__description {
        font-size: 1rem;
        margin-bottom: 0;
        margin-top: 10px;
        color: white;
        font-style: italic;
        text-align: left;
    }
    &__top {
        padding: 15px;
        background-color: #337a5c;
        
    }
    &__right {
        border-left: 1px solid #acacac;
        padding: 0;
    }
    &__textarea {
        // float: right;
        position: relative;
        color: white;
        display: flex;
        flex-direction: row;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .player {
        // height: 200px;
        overflow: hidden;
    }
}
@media all and (min-width: 768px) {
    .podcast-player {
        &__title {
            font-size: 2.4vw;
            span {
                font-size: 4.8vw;
            }
        }
        &__description {
            // font-size: 1.5rem;
            font-size: 2.2vw;
        }
    }
} 
@media all and (min-width: 48em) {
    .article-callout {
        display: flex;
        flex-direction: row;
        .ac-img-container {
            flex-basis: 50%;
        }
        .ac-text {
            flex-basis: 50%;
        }
    }
    .ag-featured-post-sidebar {
        .faps-featured {
            height: 100%;
        }
    }

}
@media all and (min-width: 80em) {
    .recipe-block {
        width: 50%;
        float: right;
        &.center-rblock {
            width: 100%;
            float: none;
            text-align: center;
        }
        &.left-rblock {
            width: 50%;
            float: left;
        }
    }
    .read-the-magazine {
        img {
            max-width: 320px;
        }
        &__mag-container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__text {
            margin-left: 30px;
        }
    }
    .ilfb-afps__side-article {
        &:first-child {
            min-height: 365px;
        }
    }
    .ilfb-afps {
        &__featured-title {
            font-size: 2.5rem;
            line-height: 1.2;
        }
        .l-col-9 {
            > a {
                display: block;
                height: 590px;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media all and (min-width: 1366px) {
    .podcast-player {
        &__title {
            font-size: 2.2rem;
            span {
                font-size: 4.5rem; 
            }
        }
        &__description {
            font-size: 2rem;
        }
    }
}

// mega hero
// .body-mega-hero {
//     .site-main {
//       padding-top: 0;
//     }
//   }
//   .megahero {
//     &_img {
//       width: 100%;
//       height: 100vh ;
//       background-repeat: no-repeat;
//       background-size: cover;
//     }
//   }
//   .megahero_img {
//     width: 100%;
//     height: 100vh ;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }