#newsletter {
    background-color: $lightgreen;
    color: $black;
    padding-top: 70px;
    padding-bottom: 80px;
    margin-top: 50px;
    input[type=submit] {
        background-color: $green;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        border-radius: 0;
        height: 50px;
        cursor: pointer;
        font-family: $font__acumin;
    }
    input[type=text] {
        border-radius: 0;
        height: 50px;
        &::placeholder {
            font-style: italic;
        }
    }
}
.footer-social {
    padding-left: 0;
    margin-left: 0;
    display: flex;
    li {
        font-size: 30px;
        list-style: none;
        margin-right: 10px;
    }

}
.header-social {
    padding-left: 0;
    margin: 0 1em 0 0;
    display: flex;
    li {
        font-size: 20px;
        list-style: none;
        margin-right: 10px;
        position: relative;
        height: 35px;
        width: 35px;
        // background-color: green;
        border-radius: 50%;
        &.facebook a {
            left: 8px;
        }
        &.youtube a {
            left: 7px;
        }
    }

    a {
        position: absolute;
        color: white;
        top: 4px;
        left: 8px;
        // background-color: green;
        // padding: 30px;
        &:visited, &:focus, &:active, &:hover {
            color: white;
        }
        
        
        
    }

}
.site-footer {
    // background-color: $darkgray;
    color: white;
    padding-bottom: 80px;
    a {
        color: white;
        &:visited, &:active {
            color: white;
        }
        &:hover {
            text-decoration: underline;
            color: white;
        }
    }
}
.site-info {
	padding-top: 70px;
	p {
		font-size: 1rem;
	}
    .section-heading {
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 642px) {
    #newsletter {
        form {
            display: flex;
            flex-direction: row;
        }
        .gform_body {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .gform_footer {
            width: 40%;
        }
        .gform_wrapper {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .gform_wrapper.gravity-theme .gform_footer {
            margin: 0; 
            input {
                margin-bottom: 0;
            }
        }
        // input[type=text] {
        //     width: 60%;
        // }
        // input[type=submit] {
        //     width: 40%;
        // }
    }
}