a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.title-link {
	color: inherit;
	text-decoration: none;
	&:visited, &:focus, &:active {
		color: inherit;
	}
	&:hover {
		text-decoration: underline;
		color: inherit;
	}
}
