.site-header {
    position: fixed;
    height: 150px;
    left: 0;
    right: 0;
    width: 100% !important;
    box-shadow: #aaa 5px 0px 10px;
    z-index: 10;
    transition: height 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    &.headroom--pinned {
        height: 150px;
        z-index: 10;
      }
      &.headroom--unpinned {
        height: 120px;
      }
}
.site-main {
  padding-top: 150px;
}
.nav-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1550px;  
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.site-branding {
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 300px;
}
.site-logo {
  width: 435px;
  margin-top: 15px;
  margin-right: 20px;
}
.nav-menu {
  margin-top: 15px;
}