.site-header {
    position: fixed;
    height: 150px;
    left: 0;
    right: 0;
    width: 100% !important;
    box-shadow: #aaa 5px 0px 10px;
    z-index: 10;
    transition: height 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    &.headroom--pinned {
        height: 150px;
        z-index: 10;
      }
      &.headroom--unpinned {
        height: 120px;
      }
}
.site-main {
  padding-top: 175px;
}
.nav-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1550px;  
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.site-branding {
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
}
.site-logo {
  width: 435px;
  margin-top: 0;
  margin-right: 20px;
}
.nav-menu {
  margin-top: 15px;
}
.megahero {
  display: none;
  height: auto;
  overflow: hidden;
  position: relative;
  // max-height: 675px !important;
  &_img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center center;
  }
  video {
    object-fit: cover;
    // max-width: 100%;
    width: 100%;
    // height: auto;
    height: 43vw;
  }
  #player {
    width: 100%;
    height: auto;
    // object-fit: cover;
    // position: absolute;
    // left: 0;
    // top: 0;
  }
  &.below-header {
    margin-top: -25px;
  }
}

@media all and (min-width: 550px) {
  .site-branding {
      width: 300px;
  }
} 

@media all and (min-width: 768px) {
  .megahero {
    display: block;
  }
  .has-hero {
    .site-main {
      padding-top: 0;
    }
  }
  .body-mega-hero {
    .site-logo {
      &.green {
        display: none;
      }
      &.white {
        display: block !important;
      }
    }
    .site-header {
      background-color: transparent;
      box-shadow: unset !important;
    }
    .search-btn {
      background: transparent;
      color: white;
    }
    .nav-container:not(.toggled) {
      .bar {
        background-color: white;
      }
      .hamburger {
        position: relative;
        top: 0;
        right: 0;
      }
      .main-navigation ul >li a {
        color: white;
      }
    }
  
    .main-navigation {
      ul {
        ul {
          li {
            background: transparent;
          }
        }
      }
    }
  }
}
