// apply to ul element
.unstyle-list {
	margin-left: 0;
	li {
		list-style: none;
	}
}
// apply to "a" element
a.unstyle-link {
    color: inherit !important;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:visited, &:active {
        text-decoration: underline;
        color: inherit;
    }
}

.align-center {
    text-align: center;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.object-fit-image {
    position: relative;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }
}
@media all and (max-width: 520px) {
    .align-right, .alignright, .align-left, .alignleft {
        float: none !important;
    }
}
