.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}
// center items on mobile
@media all and (max-width: 768px) {
	.widget  {
		text-align: center;
	}
}